:root {
    --red: #E27D60;
    --blue: #85DCB0;
    --orange: #E8A87C;
    --purple: #C38D9E;
    --cyan: #41B3A3;
    --green: #1c6470;
    --yellow: #f8ec17;
}

body {
    background-color: white;
    font-family: Arial, 'MuseoSans';
}

.Blog {
    width: 500;
    border-radius: 5px;
    background-color: var(--green);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
}

.blogTitle {
    color: var(--yellow);
    margin: 5px;
}

.blogAutor {
    color: white;
    margin: 5px;
}

.blogNachricht {
    color: white;
    margin: 10px;
}

#nachricht {
    height: 200px;
    width: 50%;
    resize: none;
}

#addBlogButton {
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.editButton {
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
}

.editButton:hover {
    visibility: visible;
    background: none;
    border: none;
    padding: 2px;
    margin: 0;
    color:grey;
    cursor: pointer;
}

.changeTextarea {
    width: 95%;
    height: 200px;
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
    resize: none;
}

.Button {
    background-color: var(--yellow);
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 2px;
    cursor: pointer;
}

.editButtonDiv {
    text-align: right;
}